<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davegilbier.juanation">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".controllers.Profile">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controllers.UrgentNeedDetail" />
        <activity android:name=".controllers.UrgentNeedChooseItemsToDonate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".controllers.FastDonation" />
        <activity android:name=".controllers.MonetaryDonation" />
        <activity android:name=".controllers.MonetaryDonationMonthlyRecurring" />
        <activity android:name=".controllers.Paypal" />
        <activity android:name=".controllers.MonetaryDonationRecurringDateSelection" />
        <activity android:name=".controllers.UrgentNeedPickUpDateSelection" />
        <activity android:name=".controllers.MonetaryDonationOneTime" />
        <!--<activity android:name=".controllers.Profile" />-->
        <!--<activity android:name=".controllers.MonetaryDonationRecurringDonation" />-->
        <activity android:name=".controllers.MonetaryDonationRecurringDuration" />
        <activity android:name=".controllers.ProfileMyDonations" />
        <activity android:name=".controllers.Signup" />
    </application>

</manifest>